{% extends "clinica_register/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<form action="" method="POST" autocomplete="off">

    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            {{form.nombre_medico|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.jvpm|as_crispy_field}}
        </div>
        <div class="col-md-6">
            {{form.fecha_nacimiento|as_crispy_field}}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            {{form.especialidad|as_crispy_field}}
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-3">
            <button type="submit" class="btn btn-success btn-block"><i class="fas fa-save"></i> Agregar</button>
        </div>
        <div class="col-md-3">
            <a href="{% url 'clinica_list' %}" class="btn btn-secondary btn-block">
                <i class="fas fa-arrow-left"></i> Regresar
            </a>
        </div>
    </div>

</form>

{% endblock content %}